footer{
    background-color: #124444;
    min-height: 200px;
    padding-top: 20px;
   
}
.footer__container{
   display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.footer__card{
    margin: 0 3em;
}
.footer__link{
    text-decoration: none;
    color: inherit;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.footer__copyright{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}
.footer__copyright > p{
    margin-bottom: 0;
}
.copyright__icon{
    margin-top: .7em;
}
.footer__terms > .footer__link{
    margin: 0 .5em;
}