.productDescription__page{
    display: flex;
    margin: 1em;

}
.rating__icon{

    color: gold !important;
}
.image{
    object-fit: contain;
    min-height: 400px;
    min-width: 450px;
    margin: .5em;
}

.productDescription{
    margin-right: .5em;
    display: flex !important;
    flex: 1 !important;
    border: 0;
    background-color: white;
    border-radius: 3px;
    
}
.productDescription__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 1em;
}
.productDescription__link{
    text-decoration: none;
    color: inherit;
}
.productDescription__sellerLink{
    text-decoration: none;
    color: rgb(53, 53, 209);
}
.seller{
    margin-left: .5em;
}
.productDescription__price{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.productDescription__price > small{
    justify-items: center;
    margin-top: 2em;
}
.productDescription__link > h3{
    color: rgb(38, 38, 194);
}
.product__buy{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 300px;
    background-color: white;
    padding: 1em;
    border-radius: 3px;
    
}
.product__description{
   padding-left: 1.2em;
   margin-top: 0;
}
.about{
    font-weight: 600;
}
.product__quantitySelect{
    width: 50px;
    height: 35px;
}
.add__toCart, .add__toWishList{
    background-color: #635463;
    padding: .5em;
    line-height: 1.4;
    margin:1em 0;
    border-radius: 3px;
    border: 0;
    border-color: #635463 #886488 #c474c4;
}
.inStock{
    color: rgb(47, 163, 47);
}
.outOfStock{
    color: rgb(156, 28, 28);
}
