
.rating__icon{
    color: gold !important;
}
.product__image {
    object-fit: contain;
    height: 218px;
    width: 266px;
   
}
.product{
    margin: .5em;
    display: flex ;
    flex-direction: column;
    border: 0;
    background: rgb(255, 254, 254);
    border-radius: 3px;
    width: 300px;
   
    border-radius: 4px;
    
}
.product__imageContainer{
    justify-content: center;
    align-content: center;
    padding: .5em;
}
.product__info{
    display: flex;
    flex-direction: column;
    margin: 0 .5em;
}
.product__link{
    text-decoration: none;
    color: inherit;
}
.product__price{
    display: flex;
    flex-direction: row;
    justify-items: center;
   
}
.product__price > small{
    justify-items: center;
    margin-top: .9em;
    font-size: 1em;
}
.product__price > span{
    margin-top: .5em;
    font-size: 1.4em;
    font-weight: 500;
}
.product__link > p{
    color: rgb(38, 38, 194);
}

/*link hover to be fixed */