@import "variables";

.nav{
    background: $color-primary;
    padding: .7em 0;
    color: white; 
    height:calc(40px + 5vh);
    position: sticky;
    top: 0;
    z-index: 1000;

    &__logo{
    height: 45px;
    padding: 0 .5em;
    width: 100px;
    
    }
    &__logo > h2{
        margin: 0;
    }
    &__search{
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    border-radius: 4px;
    height: 40px;
    margin: 0 1rem 0 1rem;

    &:focus{
        outline: 0;
        border: 1px solid rgb(72, 104, 248);
    }
    
   }
   .search{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    min-height: 3.2rem;
    min-width: 200px;
    }

    .input{
        border: none;
        flex: 1;
        width: 100%;
        height: 38px;
        outline: none;
        position: relative;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        
    }
    .searchIcon{
        border: none;
        background-color: $color-primary;
        align-items: center;
        height: 38px !important;
        width: 45px !important;
        padding: 2px;
        cursor: pointer;
        position: relative;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        
    }
   &__left{
        min-height: 3.4375rem;
    }
    &__option{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 1em;
        align-items: center;
        min-height: 40px;
        min-width: 120px;
    }
    &__optionShoppingCart{
        position: relative;
        margin: 0;
        display: flex;
        padding: 0 1em;
        min-width: 100px;
        justify-content: space-around;
    }
    &__shoppingCart{
        margin: 0;
        font-size: 40px !important;
    }
    &__optionTotal{
        position: absolute;
        color:  $price;
        font-weight: $fw-bold;
        font-size: $font-lrg;
        right: 15px;
        top: -11px;
    }
    &__optionOne{
        font-size: .9em;
        font-weight: 200;
    }
    &__optionTwo{
        font-size: 1em;
        font-weight: 600;
    }
    &__link{
        position: relative;
        display: block;
        text-decoration: none;
        color: white;
        height: 4rem;
        padding: .5rem;
        margin: .5rem;

        &:hover{
            border-radius: 5px;
            border: 1px solid white;
        }
    
    }
}
