@import "variables";
@import "mixins";

.products{
    background: $white;
   
    &__department{
        padding: 1em;

        h2{
            margin-bottom: .2em;
            color: $color-accent;
            font-weight: $fw-bold;
            font-size: $font-lrg;
        }
        p{
            font-size: $font-med;
            font-weight: $fw-bold;
            color: $color-accent;
        }
    }
    .product__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 1em 2em;
        justify-content: center;
    }
 //when theres no product btn
   
    .no__product{
        display: flex;
        flex-direction: column;
        margin: 15em auto;
        width: 30%;
        padding: 1em;
        border: 2px solid $color-primary;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        h1{
            color: $color-primary;
        }
         button{
            width: 100%;
            background: $color-primary;
            color: $white;
            padding: .5em;
            border: 0;
            outline: 0;
            line-height: 1.6;
            border-radius: 5px;
            cursor: pointer;
            font-size: $font-med;
            font-weight: $fw-reg;
    }
    }
    @include breakpoint-up(large){
        .product__list{
            flex-direction: row;
        }
    }
}