@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

//font family
$ff: 'Open Sans', sans-serif;

//font weight regular
$fw-reg: 400;
$fw-bold: 600;

//font sizes
$font-sml: .9rem;
$font-med: 1rem;
$font-lrg: 1.5rem;

//color
$color-primary: #10616E;
$color-accent: rgb(40, 44, 52);
$color-grey: #F6F3EB;
$white: rgb(255, 255, 255);
$text: #0F1111;
$link: #007185;
$price: #B12704 !important;
