@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

//font family
$ff: 'Open Sans', sans-serif;

//font weight regular
$fw-reg: 400;
$fw-bold: 600;

//font sizes
$font-sml: 1rem;
$font-med: 1.12rem;
$font-lrg: 1.5rem;

//color
$color-primary: #10616E;
